.about-container {
  background-color: #2d2d2d; 
  color: white; 
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ff0101; 
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.values {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.values h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.values ul {
  list-style-type: none;
  padding: 0;
}

.values ul li {
  font-size: 1.2rem;
  margin: 10px 0;
}

.call-to-action {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff0101;
  margin-top: 30px;
}

.call-to-action:hover {
  text-decoration: underline;
  cursor: pointer;
}
